<div class="footer">
  <hr class="style-horizontal" />
  <img
    src="{{ 'assets/images/logo.png'| relative_url }}"
    alt="logo"
    class="site-logo-foot"
  />
  <h2 class="site-title-foot">{{site.title}}</h2>
  <ul class="contact">
    <li class="contact-card">
      <a href="/feed.xml" class="fa-solid fa-rss"></a>
      <a href="/feed.xml" class="link">RSS</a>
    </li>
    <li class="contact-card">
      <a
        href="mailto:ppat965@aucklanduni.ac.nz"
        class="fa-solid fa-envelope"
      ></a>
      <a href="mailto:ppat965@aucklanduni.ac.nz" class="link"
        >ppat965@aucklanduni.ac.nz</a
      >
    </li>
    <li class="contact-card">
      <a
        href="https://www.linkedin.com/in/965-ppatel"
        class="fa-brands fa-linkedin"
      ></a>
      <a href="https://www.linkedin.com/in/965-ppatel" class="link"
        >www.linkedin.com/in/965-ppatel</a
      >
    </li>
    <li class="contact-card">
      <a href="https://github.com/ppat965" class="fa-brands fa-github"></a>
      <a href="https://github.com/ppat965" class="link"
        >www.github.com/ppat965</a
      >
    </li>
  </ul>
  <p>Thank you for visiting my site!</p>
</div>
