<div class="footer">
  <script
    src="https://kit.fontawesome.com/583bbf6afa.js"
    crossorigin="anonymous"
  ></script>
  <img
    src="{{ 'assets/images/logo.png'| relative_url }}"
    alt="logo"
    width="20"
    height="20"
  />
  <h3>{{site.title}}</h3>
  <div>
    <a href="mailto:ppat965@aucklanduni.ac.nz" class="fa-solid fa-envelope"></a>
    <a
      href="https://www.linkedin.com/in/965-ppatel"
      class="fa-brands fa-linkedin"
    ></a>
    <a href="https://github.com/ppat965" class="fa-brands fa-github"></a>
  </div>
  <div>
    <a href="mailto:ppat965@aucklanduni.ac.nz">ppat965@aucklanduni.ac.nz</a>
    <a href="https://www.linkedin.com/in/965-ppatel"
      >www.linkedin.com/in/965-ppatel</a
    >
    <a href="https://github.com/ppat965">www.github.com/ppat965</a>
  </div>
  <p>Thank you for visiting my site!</p>
</div>
