html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scrollbars on mobile */
}

body {
  font-family: var(--font-main);
  line-height: var(--line-unit);
}

p {
  font-family: var(--font-main);
  line-height: var(--line-unit);
}

h1 {
  color: var(--caribbean-current);
  font-family: var(--font-heading);
  line-height: var(--line-unit);
  font-size: 2.8em;
  text-align: center;
}

h2 {
  color: var(--caribbean-current);
  font-family: var(--font-heading);
  line-height: var(--line-unit);
  font-size: 2em;
}

h3 {
  color: var(--caribbean-current);
  font-family: var(--font-heading);
  line-height: var(--line-unit);
  font-size: 1.5em;
}

h4 {
  color: var(--caribbean-current);
  font-family: var(--font-heading);
  line-height: var(--line-unit);
  font-size: 1.17em;
}

h5 {
  color: var(--caribbean-current);
  font-family: var(--font-heading);
  line-height: var(--line-unit);
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
  color: var(---caribbean-current);
  font-family: var(--font-heading);
  line-height: var(--line-unit);
}

.site-title-foot {
  font-family: var(--font-title);
  font-size: 1.5rem;
  color: var(--white);
  margin: 0;
  padding: 0;
  line-height: var(--line-unit);
}
