.site-title {
  font-family: var(--font-title);
  font-size: 4rem;
  color: var(--white);
  padding-top: 0.02rem;
  padding-bottom: 0.02rem;
  margin: 0.8rem;
}

body {
  margin: 0;
  font-family: var(--font-main);
}

p {
  font-family: var(--font-main);
}

h1 {
  color: var(--caribbean-current);
  font-family: var(--font-heading);
}

h2 {
  color: var(--caribbean-current);
  font-family: var(--font-heading);
}

h3 {
  color: var(--caribbean-current);
  font-family: var(--font-heading);
}

h4 {
  color: var(--caribbean-current);
  font-family: var(--font-heading);
}

h5 {
  color: var(--caribbean-current);
  font-family: var(--font-heading);
}

h6 {
  color: var(---caribbean-current);
  font-family: var(--font-heading);
}

.site-title-foot {
  font-family: var(--font-title);
  font-size: 1.5rem;
  color: var(--white);
  margin: 0.1rem;
  padding: 0.3rem;
}
