@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

:root {
  --banner: #345326; //Original caribbean-current #006a71
  --hero: #91e869; //Original tiffany-bluejeky #7fd1b9
  --secondary: #f9b9e3; //Original azure-web #d6e4e5
  --white: #E0F5B1;
  --accents: #7e5a72; //Original moonstone #3ec1d3
  --book-beige: #d8d1c3; 

  --font-main: "Lato", sans-serif;
  --font-heading: "Playfair", serif;
  --font-title: "Playfair Display SC", serif;
  --spacing-unit: 1.5rem;
}
