---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="post-date">
  {{ page.date | date_to_long_string: "ordinal" }} - {{ site.author }}
</p>

<article class="post">
  {% if page.image %}
  <div class="post-image">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" />
  </div>
  {% endif %}

  <div class="post-content">{{ content }}</div>

  {% if page.categories %}
  <div class="post-category">
    <span class="category-label">{{ page.categories | join: ", " }}</span>
  </div>
  {% endif %}

  <p class="post-signoff">Until next time 👋</p>
</article>
